
  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   .dwcllogos{
     max-width: 300%;
     max-height:100%;
    }
    input.underline {
      border: none;
      border-bottom: 1px solid black;
      outline: none;
   
    }
    .short {
      width: 50px;
    }
    .long {
      width: 500px;
    }
    .longs {
      width: 350px;
    }
    .longss {
      width: 345px;
    }
    
    
    
    
    
    
    
    
    
    